<a href="https://colab.research.google.com/github/RaianaSeixas/Portfolio/blob/main/Data_Bank/json_para_dataframe_e_normaliza%C3%A7%C3%A3o_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transformação de dados JSON para dataframe

JSON (JavaScript Object Notation) é um formato amplamente utilizado para armazenar e transmitir dados.

Este notebook performa 3 tarefas:

- Transformação de dados json em dataframe
- Expanção de uma das colunas que está como dicionário num mesmo dataframe
- Normalização dos itens dessa coluna de dicionário e sua divisão em dois dataframes separados, seguindo o modelo relacional.

In [ ]:
import pandas as pd
import json

In [ ]:
# Obteção dos dados do github

!git clone https://github.com/RaianaSeixas/Data_Science_Otimization_OR.git
%cd Data_Science_Otimization_OR/Data

Cloning into 'Data_Science_Otimization_OR'...
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 36 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (36/36), done.
/content/Data_Science_Otimization_OR/Data

## 1- Transformação dos dados JSON em Dataframe

In [ ]:
df = pd.read_json('data.json')
df

,CreateDate,EmissionDate,Discount,NFeNumber,NFeID,ItemList
0,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,501,1,"[{'ProductName': 'Rice', 'Value': 35.55, 'Quan..."
1,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,502,2,"[{'ProductName': 'Tomate', 'Value': 12.25, 'Qu..."
2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,503,3,"[{'ProductName': 'Beer', 'Value': 9.0, 'Quanti..."

Nota-se que a coluna ItemList está encaspsulada e precisa ser aberta para melhor entendimento.

## 2- Expanção da coluna 'ItemList' que está como dicionário num mesmo dataframe

In [ ]:
 f = open('data.json') # Abertura arquivo JSON
data = json.load(f) # Retorna o objeto JSON como um dicionário
#data

In [ ]:
df.columns

Index(['CreateDate', 'EmissionDate', 'Discount', 'NFeNumber', 'NFeID',
       'ItemList'],
      dtype='object')

In [ ]:
# O método json_normalize, normaliza dados JSON semiestruturados em uma tabela simples
pd.json_normalize(
    data,record_path=['ItemList'],
    meta=['CreateDate', 'EmissionDate', 'Discount', 'NFeNumber', 'NFeID']
)

,ProductName,Value,Quantity,CreateDate,EmissionDate,Discount,NFeNumber,NFeID
0,Rice,35.55,2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
1,Flour,11.55,5,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
2,Bean,27.15,7,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
3,Tomate,12.25,10,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2
4,Pasta,7.55,5,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2
5,Beer,9.00,6,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3
6,French fries,10.99,2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3
7,Ice cream,27.15,1,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3

## 3- Normalização dos itens dessa coluna de dicionário e sua divisão em dois dataframes separados, seguindo o modelo relacional.

Normalização é o processo de modelar o banco de dados projetando a forma como as informações serão armazenadas a fim de eliminar, ou pelo menos minimizar, redundância e anomalias no banco de dados.
A terceira forma normal é considerada o nível mínimo necessário para grande parte das aplicações, por essa razão descrevi definições de normalização até esse nível.

* Primeira Forma Normal (1FN): todos os seus atributos são simples e
monovalorados.

* Segunda Forma Normal (2FN):Evita dependência funcional (parcial), ou seja, os registros na tabela, que não são chaves, dependem da chave primária em sua totalidade e não apenas parte dela.
* Terceira Forma Normal (3FN):Evita dependência transitiva, ou seja, ao analisarmos uma tupla (linha) e não encontramos nenhum atributo não chave dependente de outro atributo não chave.

Observação: para uma relação atender as exigências de uma forma normal, se faz necessário que esta obedeça as regras da forma normal anterior.

In [ ]:
# Tabela de notas fiscais

df_NFE= df[['CreateDate', 'EmissionDate', 'Discount', 'NFeNumber', 'NFeID']]
df_NFE

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3

Esta tabela está na 3FN e tem NFeID ou NFeNumber como chave primária.

In [ ]:
# Tabela com o conteúdo das notas fiscais

NF_content = pd.json_normalize(data, record_path =['ItemList'],meta=[['NFeID']])
NF_content

    ProductName  Value  Quantity NFeID
0          Rice  35.55         2     1
1         Flour  11.55         5     1
2          Bean  27.15         7     1
3        Tomate  12.25        10     2
4         Pasta   7.55         5     2
5          Beer   9.00         6     3
6  French fries  10.99         2     3
7     Ice cream  27.15         1     3

Considerando a hipótese de que, a depender da nota fiscal, o preço do produto pode mudar, e tendo como chave primária a combinação de NFeID e ProdutName (não acontece no exemplo, mas um mesmo produto poderia estar em outra nota fiscal), pode-se dizer que a tabela está normalizada.
Porém, nesta tabela podem ocorrer problemas de atualização. Por exemplo, se tivéssemos que atualizar o nome do produto, teriámos que fazê-lo em todas as linhas.
Vamos então criar um Id para o produto e manter Id e nome do produto em uma tabela separada.

In [ ]:
# Criação da Tabela de produtos

Product = NF_content['ProductName'].unique() # extrai, em formato de array, os nome únicos de produtos da tabela NF_content 
Product = pd.DataFrame(Product, columns = ['ProductName'])
Product.insert(0, 'ProductID', range(1, len(Product)+1)) # Inserir coluna ProductID contendo números incrementais
Product

   ProductID   ProductName
0          1          Rice
1          2         Flour
2          3          Bean
3          4        Tomate
4          5         Pasta
5          6          Beer
6          7  French fries
7          8     Ice cream

Esta tabela está na 3FN e tem ProductID como chave primária.

In [ ]:
# Nova tabela com o conteúdo das notas fiscais substituindo ProductName for ProductID

NF_content_new = NF_content.merge(Product,on='ProductName') # Mesclar as tabelas  NF_content e Product através da coluna 'ProductName'
NF_content_new  = NF_content_new.drop('ProductName', axis=1) # Excluir coluna 'ProductName'
NF_content_new = NF_content_new.iloc[:, ::-1] # Reverter ordem das colunas do dataframe
NF_content_new

   ProductID NFeID  Quantity  Value
0          1     1         2  35.55
1          2     1         5  11.55
2          3     1         7  27.15
3          4     2        10  12.25
4          5     2         5   7.55
5          6     3         6   9.00
6          7     3         2  10.99
7          8     3         1  27.15

Esta tabela está na 3FN. Possui uma chave primária composta ( ProductID e NFeIF) e possui 2 chaves estrangeiras: ProductID  a relacionando com a tabela de produtos, e NFeID a relacionando com a tabela de notas fiscais.